<div id="result_foo" style="padding:10px;">
	<% if ! success %>
		<div id="error_message" class="alert-message error">
			<a class="close" href="#" onclick="$('#error_message').remove()">×</a>
			<p><strong>Error!</strong></p>
			<% result[:messages].each { |message| %>
				<p><%= message[:problem] %></p>
			<% } %>
			<% result[:failures].each { |failure| %>
				<p>
					<%= failure[:name] %><br/>
					<%= failure[:message] %><br/>
					<%= failure[:stack_trace] %>
				</p>
			<% } %>
		</div>
	<% end %>
	<% if success %>
		<div class="alert-message success">
			<p><strong>Success!</strong> Your deployment completed successfully.</p>
		</div>
	<% end %>
</div>