<div id="deploy_output">
	
	<div id="result_output">

	</div>
	
	<div id="form">
		<form class="form-stacked">
			<fieldset>
				<div class="clearfix">
					<label for="pn">Project Name</label> 
					<input class="xlarge" size="100" type="text" id="pn">
				</div>
				<div class="clearfix">
					<label for="un">Salesforce Username</label> 
					<input class="xlarge" size="100" type="text" id="un">
				</div>
				<div class="clearfix">
					<label for="pw">Salesforce Password</label> 
					<input class="xlarge" size="100" type="password" id="pw">
				</div>
				<div class="clearfix">
					<label for="server_url">Server URL</label> 
					<select id="server_url">
						<option>https://www.salesforce.com</option>
						<option>https://test.salesforce.com</option>
					</select>
				</div>
				<div class="clearfix">
					<label for="svn_un">SVN Username</label> 
					<input class="xlarge" size="100" type="text" id="svn_un">
				</div>				
				<div class="clearfix">
					<label for="svn_pw">SVN Password</label> 
					<input class="xlarge" size="100" type="text" id="svn_pw">
				</div>
				<div class="clearfix">
					<label for="svn_url">SVN URL</label> 
					<input class="xlarge" size="100" type="text" id="svn_url">
				</div>								
				
				<div class="actions">					
					<% if user_action == "new" %>
						<input type="button" class="btn primary" value="New Project"  onclick="$('#result_output').html(dispatch({controller: 'project', action: 'new_project', pn: $('#pn').val(), un: $('#un').val(), pw: $('#pw').val(), server_url: $('#server_url').val(), svn_un: $('#svn_un').val(), svn_pw: $('#svn_pw').val(), svn_url: $('#svn_url').val() }));">
					<% end %>
					<% if user_action == "checkout" %>
						<input type="button" class="btn primary" value="Checkout Project"  onclick="$('#result_output').html(dispatch({controller: 'project', action: 'checkout', pn: $('#pn').val(), un: $('#un').val(), pw: $('#pw').val(), server_url: $('#server_url').val(), svn_un: $('#svn_un').val(), svn_pw: $('#svn_pw').val(), svn_url: $('#svn_url').val() }));">
					<% end %>
					&nbsp;
					<button type="reset" class="btn" onclick="window.close();">Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>